
/*This is how I emplimented a custom font into the document, did this in the stylesheet so it is easier to change later down the road if needed.*/
@font-face {
    font-family: Franchise;
    src: url(franchise_2.zip);
}
/*This lists the font family*/
div{
    font-family: Franchise;
}

body{
    margin: 25px 50px 75px 100px;
}
/*Sets the border, display, margins, and width of all images in document so they are all the same size and cohesive.*/
img{
    border-radius: 8%;
    display:block;
    margin-left: auto; 
    margin-right: auto;
    width: 50%;
}


h1{
    /*changed text alignment*/
    text-align: center;
    color:rgb(128, 204, 248);
    font-weight: bold;
    font-size: 65pt;
}

h2{
    /*changed text alignment*/
    text-align: center;
    color: rgb(184, 52, 92);
    font-weight: bold;
    font-size: 45pt; 
    /*Changed the font family again here to a different custom font, this font being named "Vintage Times*/
    font-family: Vintage Times;
    src: url(vintage_times.zip);
}

h3{
    color: rgb(184, 52, 92);
    font-weight: bold;
    font-size: 35pt; 
    /*Changed the font family again here to a different custom font, this font being named "Vintage Times*/
    font-family: Vintage Times;
    src: url(vintage_times.zip);
}
/*This allows for the transparent background color around the text so they are easier to see.*/
.content{
    background-color: rgba(6, 1, 17, 0.5);
    padding: 20px;
    border-radius: 10px;
}

p{
    text-indent: 8%;
    color: rgb(197, 197, 230);
    font-size: 25pt;
    font-family: sans-serif;
}